
<h1>Addition</h1>

<dl>
<div>
<dt>First number</dt>
<dd> <%= @num1 %> </dd>
</div>

<div>
<dt>Second number</dt>
<dd> <%= @num2 %> </dd>
</div>

<div>
<dt>Result</dt>
<dd> <%= @sum %> </dd>
</div>

</dl>

<a href="/add">Do another addition</a>
