<h1>Addition</h1>

<form action="/wizard_add">
<div>
<label for="x1">Add this:</label>
<input id="x1" type="text" placeholder="Enter number" name="first_num">
</div>

<div>
<label for="x2">to this:</label>
<input id="x2" type="text" placeholder="Enter number" name="second_num">
</div>

<button>Add!</button>
</form>
