<h1>Division</h1>

<dl>
<div>
<dt>First number</dt>
<dd> <%= @num1 %> </dd>
</div>

<div>
<dt>Second number</dt>
<dd> <%= @num2 %> </dd>
</div>

<div>
<dt>Result</dt>
<dd> <%= @quotient %> </dd>
</div>

</dl>

<a href="/multiply">Do another division</a>
