<h1>Division</h1>

<form action="/wizard_divide">
<div>
<label for="x1">Divide this:</label>
<input id="x1" type="text" placeholder="Enter number" name="first_num">
</div>

<div>
<label for="x2">by this:</label>
<input id="x2" type="text" placeholder="Enter number" name="second_num">
</div>

<button>Divide!</button>
</form>
