<h1>Multiplication</h1>

<form action="/wizard_multiply">
<div>
<label for="x1">Multiply this:</label>
<input id="x1" type="text" placeholder="Enter number" name="first_num">
</div>

<div>
<label for="x2">by this:</label>
<input id="x2" type="text" placeholder="Enter number" name="second_num">
</div>

<button>Multiply!</button>
</form>
