<h1>Subtraction</h1>

<dl>
<div>
<dt>First number</dt>
<dd> <%= @num1 %> </dd>
</div>

<div>
<dt>Second number</dt>
<dd> <%= @num2 %> </dd>
</div>

<div>
<dt>Result</dt>
<dd> <%= @difference %> </dd>
</div>

</dl>

<a href="/subtract">Do another subtraction</a>
