<h1>New subtraction</h1>

<form action="/wizard_subtract">
<div>
<label for="x3">Subtract this:</label>
<input id="x3" type="text" placeholder="Enter number" name="subtract_this">
</div>

<div>
<label for="x4">from this:</label>
<input id="x4" type="text" placeholder="Enter number" name="subtract_from">
</div>

<button>Subtract!</button>
</form>
